.bgc{
    background-color: #31327a;
  
}
.title{
    text-shadow: 2px 2px 2px #030100;
}

.p_ple{
  color: rgb(233, 0, 0);
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: -1px;
  padding: 8px;
  font-weight: 700;
}
i.bi-facebook{
    color: rgb(26, 26, 26);
}
i.bi-youtube{
    color: rgb(0, 0, 0);
}

.position{
    position: relative;

}
.site_logo{
    position:absolute;
     /* z-index: 10;   */
     color: rgb(255, 255, 255);
    left: 100px;
    top: 60px;
    display: flex;

}
.site_logo h3{
    margin-top: 25px;
  margin-left: 11px;
  font-weight: 700;
}
/* .logo_banner{
    position: relative;
    z-index: 1;
} */
 .admin_notice{

  background-color: azure;
  border: 1px solid #2969a8;
  padding-left: 60px;
  padding-top: 10px;
}
.p_ple_msg{
    margin-top: 10px;
}
.p_ple_msg p{
    margin: 5px;
}
.p_ple_msg h3{
    background-color: #e9f4ff;
    padding: 10px;
}
 